<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MyTodoList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
        <div class="container w-100">
            <div>
                <a class="navbar-brand" asp-area="" asp-controller="Todo" asp-action="Todo">MyTodoList</a>

            </div>
            <div class="d-flex align-items-center">
                <a class= "mx-3 header-links" asp-area="" asp-controller="Categories" asp-action="CategoriesEditor">Редактор категорій</a>
                <div class="switch-menu">
                    @await Html.PartialAsync("_RepositorySwitcher")
                </div>
            </div>

        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3 main">
        @RenderBody()
    </main>
</div>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>