@model dynamic

<div class="form-group">
    <form asp-controller="Todo" asp-action="Switch" method="post">
        <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
        <select class="form-select text-center switch-form" name="repositoryType" onchange="this.form.submit()">
            <option value="0" hidden>@Model.CurrentRepositoryType.ToString().ToUpper()</option>
            <option value="sql">SQL</option>
            <option value="xml">XML</option>
        </select>
    </form>
</div>